{{> global/head }}
<body>
<div class="container contact">
	{{> global/menu (load_json "src/data/pages/home.json") }}
	<div class="col-xs-12 col-sm-10">
		<p class="no-margin">{{ contact.info.description }}</p>
		{{#each contact.info.emails}}
			{{#if @last}}
				<a href="mailto:{{ this }}">{{ this }}</a>
				<br> <br>
			{{else}}
				<a href="mailto:{{ this }}">{{ this }}</a>
				<br>
			{{/if}}
		{{/each}}
	</div>
</div>
{{> global/scripts }}
</body>