{{> global/head }}
<body>
<div class="container discography">
	{{> global/menu (load_json "src/data/pages/home.json") }}
	<div class="col-xs-12 col-sm-10">
		{{#each aliases}}
			<p>as {{ name }}</p>
			<table class="table table-condensed table-responsive">
				<thead>
				<tr>
					<th width="25%">Title</th>
					<th width="25%">Year</th>
					<th width="25%">Format</th>
					<th width="25%">Label</th>
				</tr>
				</thead>

				<tbody>
				{{#each releases}}
					<tr>
						<td>{{ title }}</td>
						<td>{{ year }}</td>
						<td>{{ format }}</td>
						<td><a href="{{ label.link }}" title="{{ label.name }}">{{ label.name }}</a></td>
					</tr>
				{{/each}}
				<tr></tr>
				</tbody>
			</table>
		{{/each}}
	</div>
</div>
{{> global/scripts }}
</body>