<div class="top-space"></div>
<nav class="menu col-xs-12 col-sm-2">
	<ul>
		{{#each menu.links}}
			<li>
				<a href="{{ link }}">{{ name }}</a>
			</li>
			{{#if menu.links.sublinks}}
				<li>
					<ul>
						{{#each menu.links.sublinks}}
							<li>
								<a href="{{../link}}{{link}}">{{ name }}</a>
							</li>
						{{/each}}
					</ul>
				</li>
			{{/if}}
		{{/each}}
	</ul>
</nav>